* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.post__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.page {
  border: 1px solid teal;
  padding: 5px 10px;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  background: lightblue;
  align-items: center;
}

.navbar__links {
  display: flex;
  gap: 20px;
}
